/* ---------------------------------
main
--------------------------------- */
//common
.container {
  width: 90%;
  min-width: 768px;
  margin: 0 auto;
  padding-bottom: 120px;
  &--works {
    width: 95%;
    max-width: 900px;
    min-width: 768px;
  }
  &--service,
  &--policy,
  &--profile {
    width: 60%;
  }
  &--contact {
    width: 50%;
  }
  &--footer {
    width: 80%;
    padding-top: 250px;
    padding-bottom: $space_6l;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &--h2 {
    text-align: center;
  }
}

.caption {
  margin-top: $space_2l;
  margin-bottom: $space_8l;
  text-align: center;
  font-size: $font-size_2l;
  &--form {
    margin-top: 0;
    margin-bottom: $space_6l;
    font-size: $font-size_l;
  }
}

//hero
#hero {
  width: 100%;
  position: relative;
  .hero--logo {
    width: 60%;
    min-width: 700px;
    padding-top: 220px;
    padding-left: $space_3l;
    padding-bottom: $space_8l;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    img {
      width: 100%;
      min-width: 700px;
      height: auto;
    }
    p {
      min-width: 700px;
      padding-left: $space_m;
      font-family: $font-family_accent;
      font-size: $font-size_4l;
      color: $color_sub;
    }
  }
  .hero--menu {
    width: 70%;
    min-width: 760px;
    margin: $space_4l auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-bg {
    position: absolute;
    top: -120px;
    right: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 900px;
      object-fit: cover;
    }
  }
}

//works
#works {
  width: 100%;
  background: $color_base;
  opacity: 0;
}

//service
#service,
#policy,
#profile {
  width: 100%;
  background: $color_base;
  h3 {
    margin-bottom: $space_l;
    padding-left: $space_3l;
    position: relative;
    background: url(../../../dist/img/book.png) no-repeat;
    background-position: 0 5px;
    background-size: $font-size_2l;
    font-size: $font-size_2l;
    z-index: 2;
  }
  .profile {
    &--head {
      width: 100%;
      margin: $space_3l 0 $space_8l;
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 2;
    }
    &--icon {
      width: 250px;
      height: 250px;
      img {
        width: 100%;
        border-radius: 120px;
      }
    }
    &--abstract {
      width: 60%;
      padding-left: $space_2l;
      box-sizing: border-box;
      p {
        span {
          margin-bottom: $space_m;
          display: inline-block;
          font-family: $font-family_accent;
          font-size: $font-size_3l;
          color: $color_main;
        }
      }
    }
  }
  .details {
    &--service,
    &--policy,
    &--profile {
      width: 100%;
      margin-bottom: $space_6l;
      padding-right: 8%;
      box-sizing: border-box;
      position: relative;
      img {
        position: absolute;
        z-index: 1;
      }
      &--first {
        img {
          top: -50%;
          left: -5%;
          animation-name: big-slimy;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }
      }
      &--second {
        img {
          top: -10%;
          right: 0;
          animation-name: big-slimy;
          animation-duration: 5s;
          animation-delay: 0.7s;
          animation-iteration-count: infinite;
        }
      }
      &--third {
        img {
          top: 0;
          left: 0;
          animation-name: big-slimy;
          animation-duration: 5s;
          animation-delay: 1.4s;
          animation-iteration-count: infinite;
        }
      }
      &--fourth {
        img {
          bottom: -70%;
          right: 12%;
          animation-name: big-slimy;
          animation-duration: 5s;
          animation-delay: 2.1s;
          animation-iteration-count: infinite;
        }
      }
      p {
        position: relative;
        line-height: 1.8;
        z-index: 2;
        span {
          display: inline-block;
          margin-top: $space_l;
          font-size: $font-size_l;
          color: $color_sub;
          font-weight: bold;
          &.mypolicy {
            font-size: $space_2l;
            color: $color_accent;
          }
        }
      }
    }
  }
}

@keyframes big-slimy {
  0% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  92% {
    transform: scale(0.975, 1.025);
  }

  93% {
    transform: rotateZ(3deg);
  }

  95% {
    transform: scale(1.025, 0.975);
  }

  96% {
    transform: rotateZ(-3deg);
  }

  97% {
    transform: scale(0.985, 1.015);
  }

  98% {
    transform: rotateZ(-1deg);
  }

  100% {
    transform: scale(1, 1);
  }
}

//blog
#blog {
  width: 100%;
  background: $color_base;
  h3 {
    font-size: $font-size_xl;
    margin-bottom: $space_m;
  }
  p {
    padding-right: $space_3l;
    text-align: right;
  }
}

//faq
#faq {
  width: 100%;
  background: rgb(226, 232, 228);
  background: linear-gradient(
    180deg,
    rgba(226, 232, 228, 1) 0%,
    rgba(250, 251, 250, 1) 93%,
    rgba(251, 236, 230, 1) 100%
  );
}

//contact
#contact {
  width: 100%;
  background: $color_base;
}
