/* ---------------------------------
panel-blog
--------------------------------- */

.p-panel{
    &__group{
        &--blog{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: wrap;
        }
    }
    &--blog{
        width: 33%;
        padding: $space_l;
        box-sizing: border-box;
        @include mq(){
            width: 100%;
        }
    }
}